
<div class="container" *ngIf="proyect">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                    <label for="nombreP">Nombre del proyecto</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="nombreP" [(ngModel)]="proyect.nombreP" required>
                </div>
                
                    <label for="descripcionP">Descripcion del proyecto</label>
                <div class="form-group">
                    <textarea cols="155" rows="10"  type="text" class="form-control" name="descripcionP" [(ngModel)]="proyect.descripcionP" required></textarea>

                </div>
                <button class="btn-bi">
                    Actualizar
                </button>
                <button  class="btn-bi" style="float: left;" heref="#est">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </form>
        </div>
    </div>
</div>
