
<div class="containerColumn">
    <div class="item2">
        
        <a href="" onclick="pro(); return false;">
            <i  class="bi bi-eye-fill btn-bi" id="add" onclick="FavId()"></i>
        </a>
        <a href="" onclick="pro(); return false;">
            <i  class="bi bi-eye-slash btn-bi" id="remove" onclick="Removefav()"></i>
        </a>

        <button style="margin-right: 20px;" class="btn-bi" *ngIf="isLogged"  onclick="pro1(); return false;"> 
            Nuevo Proyecto
        </button> 

        <div class="containerColumn">
            <div id="pro1"  style="float: right; margin: 60px -110px 0 0; display: none;" >
                <div class="row">
                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            
                                <label for="nombreP">Nombre del proyecto</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombreP" [(ngModel)]="nombreP" required>
                            </div>
                                <label for="descripcionP">Descripcion del proyecto</label>
                            <div class="form-group">
                                <textarea cols="161" rows="10" type="text" class="form-control tam" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required></textarea>
                            </div>
                            
                            <button class="btn-bi"  onclick="location.reload();">
                                Agregar Proyecto
                            </button>
                        </form>
                </div>
            </div>
        </div>

            <h3>Proyectos</h3>
                <hr>
            <div  id="pro">
                <div *ngFor=" let Proyecto of proye">

                    <div *ngIf="isLogged">
                        <td style="float: right; margin: 20px;">
                            <button class="btn-bi" routerLink="editpro/{{Proyecto.id}}">
                                    <i class="bi bi-pencil-fill"></i>
                            </button>
                            
                            <button class="btn-bi"   (click)="delete(Proyecto.id)">
                                <i class="bi bi-x"></i>
                            </button>
                        </td>
                    </div>

                    <div>
                        
                        <hr>
                        <h2>
                            {{Proyecto.nombreP}}
                        </h2>
                        <p>
                            {{Proyecto.descripcionP}}
                        </p>
                        <hr>

                    </div>

                </div>
            </div> 
        <hr>

    </div>
</div>
