<!-----------------------------------------------cabecera------------------------------------->
<div class="contenedorE"><!--
    <img src={{persona.img}} alt="" class="encabezado">
    <img src={{persona.imgU}} alt="usuario.png" class="usuario">---->
    
    <img src="https://www.shutterstock.com/image-vector/gratis-stamp-round-isolated-sign-260nw-1763010473.jpg " alt="" class="encabezado">
    <img src="https://www.shutterstock.com/image-vector/gratis-stamp-round-isolated-sign-260nw-1763010473.jpg "alt="usuario.png" class="usuario">

    <div class=" item2">
        <div>
            <h2>{{persona.nombre}} {{persona.apellido}}</h2>
            
            <h3>persona.profesion</h3>

        </div>
        <h4>
            persona.sobreTi
        </h4>
<!--
        <button style="margin-right: 20px;" class="btn-bi" routerLink="edit/12" *ngIf="isLogged" id="ac">
            Editar
        </button> 
---->
        <br>
    </div>
    
</div>    
        